.vs/
*.vsix
*.user
*.suo
*.userosscache
*.sln.docstates
**/.vs/**/FileContentIndex/
[xX]64/
[xX]86/
[Oo]ut/
[Bb]in/
[Oo]bj/
[Ll]og/
*.db
*.opendb
*.db-shm
*.db-wal
*.tlog/
*.log
*.bak
*.cache
*.ilk
*.pdb
*.obj
*.pch
*.res
*.sbr
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.vcxproj.user
*.exe
*.dll
**/Debug/
**/Release/
**/[Bb]uild/
**/[Tt]emp/
