# Ignorowanie folderów i plików specyficznych dla Visual Studio
.vs/
*.vsix
*.user
*.suo
*.userosscache
*.sln.docstates

# Pliki związane z indeksacją zawartości Visual Studio
**/.vs/**/FileContentIndex/

# Pliki binarne kompilacji
[xX]64/
[xX]86/
[Oo]ut/
[Bb]in/
[Oo]bj/
[Ll]og/
*.db
*.opendb
*.db-shm
*.db-wal
*.tlog/
*.log
*.bak
*.cache
*.ilk
*.pdb
*.pch
*.res
*.sbr

# Pliki specyficzne dla projektów C++
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.vcxproj.user

# Specyficzne pliki środowiska wykonywalnego
*.exe
*.dll

# Pliki pośrednie i binarne projektu
**/Debug/
**/Release/
**/[Bb]uild/
**/[Tt]emp/
